RewriteRule entrenamiento ?modo=entrenamiento
RewriteRule multiplayer ?modo=multiplayer
RewriteRule 2jugadores ?modo=2jugadores
RewriteRule 1jugadores ?modo=1jugador
RewriteRule partymode ?modo=party

RewriteEngine On
RewriteCond %{HTTP_HOST} ^dudevolley\.com [NC]
RewriteCond %{HTTPS} !=on
RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]
